h1 {
	color:navy;
}

#podbar {
	bottom:0;
	position:fixed;
	z-index:150;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+
		(document.documentElement.clientHeight-this.offesetHeight)));
	height:35px;
} 
